@import "wordart.min.js";
     body {
        font-family: 'Architects Daughter', serif;
      }
@media (prefers-color-scheme: dark) {
  img {
    opacity: .75;
    transition: opacity .5s ease-in-out;
  }
  img:hover {
    opacity: 1;
  }
}
body {

     background-color: #000e2e;
}
h6 {
     color: #000e2e;
}
p {
     color: #000e2e;
}
h3 {
     color: #000e2e;
}
