@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
     body {
        font-family: 'Architects Daughter', serif;
      }
body {
  background-color: black;
  color: white;
}
@media screen and (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
}

